.inputCustom {
    background: white;
    color:black;
    border: 1px solid darkgrey;
    height: 2rem;
    width: 25rem;
    margin-bottom: 0.75rem;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
}

.inputCustom:focus {
    outline: none;
}